$blue: #007dc6;
$blue-hover:#3da1e0;
$blue-active:#0070b2;

$blue-pale:#dfebed;
$blue-pale-hover:#e2edef;
$blue-pale-active:#c8d3d5;

$orange:#f47421;
$orange-hover:#f58238;
$orange-active:#db681e;

$blue-secondary:#79b9e7;
$blue-secondary-hover:#98cffd;
$blue-secondary-active:#6da6cf;

$blue-tertiary:#9ed6fa;
$blue-tertiary-hover:#a8dafb;
$blue-tertiary-active:#8ec0e1;

$grey-cool:#c2cfd6;
$grey-cool-hover:#c8d4da;
$grey-cool-active:#aebac0;

$blue-light:#f2f8fd;

$yellow:#ffc120;
$yellow-hover:#ffcc46;

$yellow-secondary:#ffd76e;

$green:#76c143;
$red:#f42121;

$black: #222;
$white: #fff;

$brand-primary:$blue;
$brand-success:$green;
$brand-info:$blue-secondary;
$brand-warning:$yellow;
$brand-danger:$red;