.bottom20 {
	margin-bottom:20px;
}
.bottom40 {
	margin-bottom:40px;
}

.removed {
	@include transition(opacity 1s ease-out);
	opacity:0;
	height:0;
	overflow:hidden;
}

.readded {
	opacity:1;
	height:auto;
}

.right-border-grey {
	border-right:1px solid $blue-light;
}

.left-border-grey {
	border-left:1px solid $blue-light;
}