@import "_colors";
@import "../bourbon/bourbon";
@import "../bootstrap/assets/stylesheets/bootstrap";
@import "_fonts";
@import "_util";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);

@import "_homepage";

nav.navbar {
	border-radius:0;
	background-color:white;
}

nav.nav-home {
	margin-bottom:0;
}

.alert {
	border-radius:0;
}
.alert-info {
	background-color:$blue-secondary;
	color:white;
	border-color:$blue-secondary-active;
}
.alert-link {
	color:$white !important;
}

.panel.panel-danger {
	border-color:$red;
	.panel-heading {
		background-color:lighten($red,25%);
		color:$white;
	}
}

.home-icon {
	height:58px;
	width:58px;
}

.logo {
	height:90px;
	width:120px;
}